.app {
	font-family: 'Ubuntu Mono', monospace;
	background-color: white;
	display: flex;
	flex-direction: row;
}

.orange {
	color: var(--orange-color);
}

.logo {
	font-family: inherit;
	font-size: 1rem;
	font-weight: 600;
	color: var(--active-color);
}

.logo:first-child {
	text-transform: capitalize;
}

.sidebar {
	font-family: 'Poppins', san-serif;
	min-width: 10%;
	max-width: 15%;
	height: 100vh;
	padding: 3em;
	align-items: center;
	background: var(--background-color);
}

