.app {
	font-family: 'Ubuntu Mono', monospace;
	background-color: white;
	display: flex;
	flex-direction: row;
}

.orange {
	color: var(--orange-color);
}

.button-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 30%;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0.5em 0;
}

.logo {
	font-family: inherit;
	font-size: 1rem;
	font-weight: 600;
	color: var(--active-color);
}

.logo:first-child {
	text-transform: capitalize;
}

.sidebar {
	font-family: 'Poppins', san-serif;
	min-width: 10%;
	max-width: 15%;
	height: 100vh;
	padding: 3em;
	align-items: center;
	background: var(--background-color);
}

.content {
	margin: 3em 5em;
}

.content > h1 {
	font-family: 'Poppins', san-serif;
	text-transform: capitalize;
	color: var(--title-color);
	margin-bottom: 1.5em;
}
